---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "404 not found";
const description = "The page you are looking for does not exist...";
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <p>{description}</p>
</BaseLayout>
