---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Blog";
const description = "Lists of my blog posts";
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <p>
        Here you can see lists of my blog posts. I post about my thoughts,
        technology, life and so on.
    </p>
</BaseLayout>