---
import BaseLayout from "@layouts/BaseLayout.astro";
import profile from "@images/profile.webp";
---

<BaseLayout>
    <div class="intro">
        <div>
            <h1>Hi I'm Shuto 👋</h1>
            <p>
                I'm a random 19 years old Japanese guy who loves computers and
                software.
            </p>
            <p>
                I am currently studying in the university, busy with assignments
                and exams. In my free time I like to write some code, listen to
                music.
            </p>
        </div>
        <div>
            <img
                class="profile"
                src={profile}
                width="250px"
                height="250px"
                alt="Profile picture of me"
            />
        </div>
    </div>
</BaseLayout>

<style>
    .intro {
        display: flex;
    }

    .intro div:last-child {
        margin-top: 1.5em;
        margin-left: 1em;
    }

    .intro div:last-child img {
        border-radius: 50%;
    }

    @media (max-width: 48rem) {
        .intro {
            margin-top: 1em;
            flex-direction: column-reverse;
            text-align: center;
        }

        .intro div:last-child {
            margin-top: 0;
            margin-left: 0;
        }
    }
</style>
