---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Hi I'm Shuto 👋</h1>
    <p>
        I'm a random 19 years old Japanese guy who loves computers and software.
        I am also a Gnu/Linux enthusiast and live on the terminal.
    </p>
    <p>
        I am currently studying in the university, busy with assignments and
        exams. In my free time I like to write some code, listen to music. My
        mother language is Japanese but I also speak English.
    </p>
</BaseLayout>
