---
import LinkButtons from "./LinkButtons.astro";
---

<footer>
    <LinkButtons />
    <p>
        <a href="/">https://shutotamaoka.xyz</a>
    </p>
</footer>

<style>
    footer {
        text-align: center;
    }
</style>
