---
import LinkButtons from "@components/LinkButtons.astro";

const url = import.meta.env.SITE;
---

<footer>
    <LinkButtons />
    <p>
        <a href="/">{url}</a>
    </p>
</footer>

<style lang="scss">
    footer {
        text-align: center;
        margin-top: 2em;
    }
</style>
