<header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/links">Links</a>
        <a href="/donate">Donate</a>
    </nav>
</header>

<style lang="scss">
    header {
        margin-top: 1rem;

        nav {
            display: flex;
            justify-content: center;

            a {
                font-weight: bold;
                font-size: 1.25rem;
                margin: 0 .75rem;
            }
        }
    }
    @media screen and (max-width: 50rem) {
        header {
            margin-top: 0;
        }
    }
</style>