<header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
    </nav>
</header>

<style>
    header {
        margin-top: 1em;
    }

    header nav a {
        font-weight: bold;
        font-size: 1.17em;
    }

    header nav a:not(:last-child) {
        margin-right: 1em;
    }
</style>
