<header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/links">Links</a>
    </nav>
</header>

<style lang="scss">
    header {
        display: flex;
        margin-top: 1rem;

        nav {
            a {
                font-weight: bold;
                font-size: 1.17rem;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
    @media screen and (max-width: 50rem) {
        header {
            margin-top: 0;
        }
    }
</style>