---
import { Icon } from "astro-icon";
---

<header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
    </nav>
    <div class="links">
        <a href="https://github.com/shutosheep" rel="external noopener" target="_blank">
            <Icon class="icon" name="mdi:github" aria-label="Github" />
        </a>
        <a href="mailto:shuto@shutotamaoka.xyz">
            <Icon class="icon" name="mdi:email-outline" aria-label="Email" />
        </a>
        <a href="/rss.xml">
            <Icon class="icon" name="mdi:rss" aria-label="RSS" />
        </a>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
    }

    header nav a {
        font-weight: bold;
        font-size: 1.17em;
    }

    header nav a:not(:last-child) {
        margin-right: 1em;
    }

    header .links {
        display: flex;
        gap: .5em;
    }

    [astro-icon] {
        width: 2rem;
        height: 2rem;
    }

    @media screen and (max-width: 50rem) {
        header {
            margin-top: 0;
        }
    }
</style>
