<p class="buttons">
    <a href="https://landchad.net/" rel="external noopener" target="_blank">
        <img
            src="/images/landchad.gif"
            width="88"
            height="31"
            alt="landchad.net"
        />
    </a>
    <a href="https://sadgrl.online/" rel="external noopener" target="_blank">
        <img
            src="/images/button-new.gif"
            width="88"
            height="31"
            alt="sadgrl.online"
        />
    </a>
    <a href="https://based.cooking/" rel="external noopener" target="_blank">
        <img
            src="/images/basedcooking.gif"
            width="88"
            height="31"
            alt="based.cooking"
        />
    </a>
    <a href="https://wiby.me/" rel="external noopener" target="_blank">
        <img src="/images/wiby.gif" width="88" height="31" alt="wiby.me" />
    </a>
    <a href="https://www.debian.org/" rel="extermal noopener" target="_blank">
        <img
            src="/images/button-2.gif"
            width="88"
            height="31"
            alt="debian.org"
        />
    </a>
</p>

<style>
    .buttons a {
        text-decoration: none;
    }
</style>
