---
import BaseLayout from "./BaseLayout.astro";
import { formatDate } from "../utils/FormatDate";

const {
    frontmatter: { title, description, date },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <time>{formatDate(date)}</time>
    <slot />
</BaseLayout>
