---
import BaseLayout from "./BaseLayout.astro";

const {
    frontmatter: { title, description, date },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <time>{new Date(date).toLocaleDateString("en-US")}</time>
    <slot />
</BaseLayout>
